body{
    background-color: wheat;
}
.content{
    border: 5px solid wheat;
    margin-left: 80px;
    margin-right:80px;
}
h1{
    margin-top:80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer{
    margin-top: 280px;
}
.content_1{
    margin-top: 60px;
    text-align: center;
}