@tailwind base;
@tailwind components;
@tailwind utilities;
/* input:invalid {
  border-color: red;
} */
@layer base {
  :root {
    --main-bg: rgb(20, 22, 37);
    --nav-bg: rgb(55, 59, 83);
    --text-access: rgb(182, 163, 193);
    --text-paid: rgb(51, 214, 159);
    --text-pending: rgb(255, 145, 23);
    --text-draft: rgb(225, 234, 253);
    --btn-bg: rgb(124, 93, 250);
    --card-bg: rgb(30, 33, 57);
  }

  .theme-1 {
    --main-bg: rgb(248, 248, 251);
    --nav-bg: rgb(55, 59, 83);
    --text-access: rgb(182, 163, 193);
    --text-paid: rgb(51, 214, 159);
    --text-pending: rgb(255, 145, 23);
    --text-draft: rgb(225, 234, 253);
    --btn-bg: rgb(124, 93, 250);
    --card-bg: (255, 255, 255);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
    --main-bg: rgb(20, 22, 37);
    --nav-bg: rgb(55, 59, 83);
    --text-access: rgb(182, 163, 193);
    --text-paid: rgb(51, 214, 159);
    --text-pending: rgb(255, 145, 23);
    --text-draft: rgb(225, 234, 253);
    --btn-bg: rgb(124, 93, 250);
    --card-bg: rgb(30, 33, 57);
    --total-bg: rgb(0,0,0);
    --items-bg: rgb(37,41,69);

}
[data-theme="light"] body {
  --main-bg: rgb(248, 248, 251);
    --nav-bg: rgb(55, 59, 83);
    --text-access: rgb(182, 163, 193);
    --text-paid: rgb(51, 214, 159);
    --text-pending: rgb(255, 145, 23);
    --text-draft: rgb(225, 234, 253);
    --btn-bg: rgb(124, 93, 250);
    --card-bg: rgb(255, 255, 255);
    --total-bg: rgb(55,65,81);
     --items-bg: rgb(249,250,254);
    

    
}
[data-theme="dark"] body {
      --main-bg: rgb(20, 22, 37);
    --nav-bg: rgb(55, 59, 83);
    --text-access: rgb(182, 163, 193);
    --text-paid: rgb(51, 214, 159);
    --text-pending: rgb(255, 145, 23);
    --text-draft: rgb(225, 234, 253);
    --btn-bg: rgb(124, 93, 250);
    --card-bg: rgb(30, 33, 57);
    --total-bg: rgb(0,0,0);
    --items-bg: rgb(37,41,69);


}
