.nav-pointer {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: black;
  border-radius: 50%;
  z-index: 111;
  cursor: pointer;
}

.nav-pointer:hover {
  transform: scale(0.8);
  transition: all 0.7s;
}

.nav-pointer::after {
  content: "";
  display: block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form {
  z-index: 111;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.795);
  color: white;
  backdrop-filter: blur(10px);
  top: 50%;
  width: 90%;
  max-width: 500px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
}

.form-header {
  font-size: 1.5rem;
  padding: 1rem;
}

.form-nb {
  font-size: 0.9rem;
}

.form-detail {
  padding: 1rem;
}

label {
  margin-right: 5px;
}

.form-detail input {
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  appearance: none;
  outline: none;
  font-size: 1rem;
}

.error {
  color: rgba(255, 0, 0, 0.825);
  padding: 0.5rem 0;
}

.submit-btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #ffffff;
  color: black;
  font-family: "Be Vietnam Pro", sans-serif;
}

.submit-btn:active{
  background-color: #ffffff;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .nav-pointer {
    right: 30px;
    top: 30px;
  }
}
