.histogram {
  width: 100%;
  height: 100%;
  display: flex;
  border-left: 1px solid #00000084;
  border-bottom: 1px solid #00000084;
}

.line {
  height: 100%;
  margin-top: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  height: 0;
  transition: all 1s;
  width: 5vw;
  margin-left: 1rem;
}

.line span {
    display: block;
    background-color: wheat;
    border-radius: 5px;
    text-align: center;
    padding: 0.5rem 0;
    transform: translateY(-110%);
    opacity: 0;
}


.line:hover span {
    opacity: 1;
    transition: opacity .6s;
}