@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

input:focus-visible {
  outline: 0;
}

.main {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
min-width: 370px;
padding: 10px;
box-shadow: 0 4px 10px rgba(255, 255, 255, 0.5);
background: #422200;
border-radius: 1rem;
margin-top: 10px;
min-height: 500px;
display: grid;
}

#pass-box {
  width: 100%;
display: block;
background-color: black;
font-size: 30px;
padding: 10px;
border-radius: 4px;
color: #b98f12;
font-weight: bold;
}

.row {
  width: 100%;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  color: white;
  font-size: 20px;
}

label {
  user-select: none;
}

#btn {
  width: 100%;
outline: 0;
border: 0;
padding: 10px;
background-color: #605b2d;
color: white;
margin-top: 10px;
border-radius: 5px;
font-size: 1.5rem;
font-weight: bold;
}

input.check {
  width: 20px;
  height: 20px;
}
input.len{
    height: 20px;
}