.otherDetailContainer {
  padding: 1rem 0;
}

.header {
  font-family: var(--main-font);
  font-weight: 400;
  color: var(--black);
  line-height: 2.86rem;
  font-size: 1.875rem;
}

.header span span {
  transform: translateY(105%) rotate(7deg);
}

.listBox {
  margin: 2rem 0;
}

.list {
  display: flex;
  padding: 1rem 1.3rem;
  border-radius: 4px;
  margin-bottom: 1.3rem;
  box-shadow: 0 0 32px 1px #00000014;
  background-color: var(--white);
  list-style: none;
}

.svg {
  margin-right: 1rem;
}

.text {
  font-family: var(--sub-font);
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.37rem;
  color: var(--dark-blue);
}

.text span span {
  transform: translateY(105%) rotate(7deg);
}

.list:hover {
  background-color: var(--dark-blue);
}

.list:hover .text {
  color: var(--white);
}

.list:hover svg path {
  stroke: var(--white);
}

.image {
  width: 100%;
}

.image img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .otherDetailContainer {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-row-gap: 4rem;
    grid-column-gap: 3rem;
  }

  .header {
    font-size: 2.25rem;
    line-height: 44px;
    grid-area: 1/1/1/3;
  }

  .listBox {
    margin: 0;
  }
  .text {
    font-size: 1rem;
    line-height: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .otherDetailContainer {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 5rem;
    grid-row-gap: 0;
    align-items: left;
  }

  .header {
    grid-area: 1/1/1/2;
    align-self: flex-end;
    padding-bottom: 1.5rem;
    margin-top: -4rem;
  }

  .image {
    grid-area: 1/2/3/3;
  }

  .image img {
    width: 90%;
  }

  .listBox {
    grid-area: 2/1;
    width: 100%;
  }
}
