body{
    font-family: sans-serif
}
.container {
  display: flex;
  width: max-content;
  margin: 5rem auto;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  background:rgb(224, 202, 161);    
}
h1{
    display: flex;
    justify-content: center;
}
#age{
    width: max-content;
    margin: auto;
    font-size: x-large;
    font-weight: bold;
}
.btn{
    width: max-content;
    padding: .5rem;
    margin: auto;
}
input{
    width: 50px;
}
.flex{
    display: flex;
    justify-content: space-between;
}