
body{
    background-image: url(img2.jpg);
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.container{
    text-align: center;
    margin-top: 55px;
}
.heading{
    font-family:cursive;
    font-weight:bolder;
    font-size: 45px;
    color:rgb(174, 27, 27);
    text-decoration: underline;
}
p{

}
.content{
    margin-top:80px;
    border: 10px solid rgba(245, 222, 179, 0.543);
    margin-left: 550px;
    margin-right: 550px;
    border-radius: 5px;
    background-image: linear-gradient(rgba(255, 0, 0, 0.628),rgba(0, 128, 0, 0.537));
    font-family:'Lucida Sans';
    font-size: 25px;
    color:rgb(142, 255, 142);
    margin-bottom: 55px;
    padding-left: 50px;
    padding-right: 50px;
}
input{
    cursor: pointer;
    background-color:rgba(0, 0, 0, 0.406);
    border-radius: 5px;
    margin-bottom: 10%;
    font-size: 18px;
    border-color: black;
}
input:hover{
    background-color: lightblue;
}
span{
    font-family:'Lucida Sans';
    font-size: 18px;
}
button{
    margin-bottom: 15%;
    border-radius: 5px;
    background-color:rgba(0, 0, 0, 0.607);
    cursor: pointer;
    font-size: 18px;
}
button:hover{
    background-color:lightblue;
}
footer{
    position:absolute;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    top:60px;
    text-align: center;
    font-size:20px;
    font-weight: bolder;
    color:wheat;
}
