@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  background-color: #fcd6669c;
  font-family: "Ubuntu";
}
h2{
  background-color:#262626 ;
}
nav {
  background-color: #262626;
  display: flex;
  justify-content: center;
  color: #ffc107;
}
nav h1 {
  background-color: #262626;
}
.PL_cont {
  width: 95%;
  /* background-color: saddlebrown; */
  padding: 0.5rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.PL_display {
  width: 40%;
  min-height: 300px;
  padding: 2rem;
  background: #00000052;
  border-radius: 2rem;
  height: max-content;
  margin: 1rem;
}
.P_image {
  width: 100%;
  margin: auto;
  border-radius: 0.25rem;
  box-shadow: 5px 5px 5px #999;
}
.Project_refers {
  display: flex;
  width: 90%;
  justify-content: center;
  margin: 1rem auto;
}
.Project_refers h2 {
  margin: auto;
}
.Project_ImgCont {
  width: 100%;
  overflow: hidden;
}
/**sdsds*/
.center {
  max-height: 158px;
}
.details {
  position: inherit;
  top: 0;
  left: 0;
  width: 70%; /*100%*/
  height: 158x;
  background: #ffc107;
  transition: 0.5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}
.center p {
  font-size: 0.75rem;
}
.P_card:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}
.details:hover ~ .P_image {
  transform: translateX(30%);
}
.P_card .details .center {
  padding: 20px;
  text-align: center;
  background: #ebedf1e0;
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  border-radius: 1rem;
  box-shadow: 1px 1px 1rem 1px #94949f;
}
.P_card .details .center h1 {
  margin: 0;
  padding: 0;
  color: #ff3636;
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase;
}
.P_card .details .center h1 span {
  font-size: 14px;
  color: #262626;
}
.P_card .details .center p {
  margin: 10px 0;
  padding: 0;
  color: #262626;
}
/**sasadfsaf*/

.Ref_buttons {
  padding: 0 0.5rem;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  background-color: #262626;
  cursor: pointer;
}
.Ref_buttons a {
  margin: inherit;
  font-size: inherit;
  text-decoration: none;
  color: wheat;
  background-color: #262626;
}
.Project_cont {
  display: block;
}

@media only screen and (max-width: 500px) {
  .Project_refers {
    display: flex;
  }
  .Project_cont {
    display: block;
  }
  .Project_iframe {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .PL_cont {
    display: block;
  }
  .PL_display {
    width: 80%;
  }
}
