body {
  padding: 2rem;
  margin: 0;
  background-color: rgb(121, 2, 61);
  color: rgb(212, 161, 208);
  font-family: sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: inherit;
}
@media only screen and (max-width: 990px) {
  h2 a {
    display: none;
  }
}
